<div class="row product-info" style="padding-top: 3%">

  <!--Hinhf ảnh sách-->
  <div class="col-lg-5">
    <div class="row product-pic-detail" style="padding-left: 5%">
      <table style="width: 85%; background-color: antiquewhite">
        <tr>
          <td rowspan="" style="text-align: center; background-color: antiquewhite;
                    vertical-align: center">
            <img src="assets/coffe_pic/coffe_1.jpg"
                 style="width: 100%; height: 100%; object-fit: contain">
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!--Chi tiết sản phẩm-->
  <div class="col-lg-7">
    <div class="product-info-detail">
      <table style="width: 100%">
        <tr>
          <td colspan="2" style="font-size: 20px;
                        font-weight: bold;height: 60px">
            <span>Tên sản phẩm</span>
          </td>
        </tr>
        <tr>
          <td>Đơn Vị Tính:<span style="font-weight: bold; color: blue"></span></td>
          <td>Khối Lượng Tịnh:<span style="font-weight: bold"></span></td>
        </tr>
        <tr>
          <td>Thành Phần:<span style="font-weight: bold"></span></td>
          <td>Hương Vị:<span style="font-weight: bold"></span></td>
        </tr>
        <tr>
          <td colspan="2" style="vertical-align:center">Giá Thành 12:0000<p class="product-price"></p>
          </td>

        </tr>
      </table>
      <table style="width: 100%; margin-top: 20px">
        <tr>
          <td style="width: 30%">Chính sách đổi trả</td>
          <td>
            Đổi trả sản phẩm trong 30 ngày
          </td>
        </tr>
        <tr>
          <td><span style="font-weight: bold">Số lượng:</span></td>
          <td> 01</td>
        </tr>
        <tr style="height: 70px;">
          <td colspan="2" style="text-align: left">
            <button style="width: 30%; height: 40px; border-radius: 10px;
                          background-color: #C92127; color: white; font-weight: bold; font-size: 1rem;
                            border: none">Thêm vào giỏ hàng
            </button>
            <!--            <button style="width: 20%; height: 40px; border-radius: 10px;-->
            <!--                            background-color: #C92127; color: white; font-weight: bold; font-size: 1rem;-->
            <!--                            border: none">Mua ngay-->
            <!--            </button>-->
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- hướng dẫn pha chế-->
<div class="row product-detail" style="padding-top: 3%">
  <div class="col-lg-1"></div>

  <div class="col-lg-10" style="text-align: center">
    <table style="margin-bottom: 20px; width: 100%; position: center;
    background-color: antiquewhite; border: black; border-radius: 4%">
      <tr>
        <th colspan="4" style="font-size: 20px; height: 70px">Hướng Dẫn Pha Chế</th>
      </tr>
      <tr>
        <td style="width: 10%" rowspan="6"></td>
        <td style="width: 40%">
          <strong> Bước 1: Tráng Phin</strong>
        </td>
        <td style="width: 40% "><strong> Bước 4: Rót Ủ</strong></td>
        <td style="width: 10%" rowspan="6"></td>
      </tr>
      <tr>
        <td style="text-align: left">
          - Đặt bộ phin lên trên ly thủy tinh <br>
          - Rót 1 ít nước nóng tráng đều phin
        </td>
        <td rowspan="3" style="text-align: left">
          + Ủ đáy: Rót 1 phần nước ủ (5ml) <br>
          + Ủ bề mặt: Rót phần nước còn lại (25ml) <br>
          - Ủ 1 phút <br>
          - Dùng nắp phin gạt nhẹ đáy thân phin để loại bỏ cặn cà phê. <br>
          - Đặt bộ phin đã chứa cà phê lên trên ly.<br>
        </td>
      </tr>

      <tr>
        <td >
          <strong> Bước 2: Trộn đều bột cafe</strong>
        </td>
        <td></td>
      </tr>
      <tr>
        <td style="text-align: left">
          - Dùng muỗng trộn đều bột cà phê trước khi định lượng cà phê vào phin
        </td>
        <td></td>
      </tr>

      <tr>
        <td >
          <strong> Bước 3: Định Lượng</strong>
        </td>
        <td><strong>Bước 5: Rót chiết Xuất</strong></td>
      </tr>
      <tr>
        <td style="text-align: left">
          - Cho bột cà phê vào thân phin 25g ~ 3 muỗng <br>
          - Vỗ nhẹ thân phin để sàng phẳng bề mặt cà phê. <br>
          - Đặt thân phin đã chứa cà phê lên trên nắp phin <br>
          - Đặt tim gài lên bề mặt bột cà phê, cân chỉnh nhẹ nhàng. <br>
        </td>
        <td style="text-align: left">
          - Rót nước nóng tại đỉnh tim gài<br>
          - Đậy nắp 6-8 phút<br>
          - Thu được 50ml dịch cà phê thành phẩm.<br>
          Thưởng thức: thêm đường sữa tùy thích
          <br>
        </td>
      </tr>


      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="4" style="font-weight: bold">
          Lịch sử Cafe
        </td>
      </tr>
      <tr>
        <td colspan="4">
          Cà phê (gốc từ café trong tiếng Pháp) là một loại thức uống màu đen có chứa chất caffein,
          được sản xuất từ những hạt cà phê rang lên. Cà phê được sử dụng lần đầu tiên vào thế kỉ thứ 9, khi nó được
          khám phá ra từ vùng cao nguyên Ethiopia.
          Từ đó, nó lan ra Ai Cập và Yemen và tới thế kỉ thứ 15 thì đến Armenia, Ba Tư, Thổ Nhĩ Kỳ và phía bắc Châu Phi.
          Từ thế giới Hồi giáo, cà phê đến Ý,
          sau đó là phần còn lại của Châu Âu, Indonesia và Hoa Kỳ. Ngày nay, cà phê là một trong những thức uống thông
          dụng toàn cầu.
        </td>
      </tr>
      <tr>
        <td colspan="4" style="height: 50px"> </td>
      </tr>
    </table>
  </div>
  <div class="col-lg-1"></div>

</div>
<!--// chính sách vận chuyển-->
<div class="row" style="background-color: lightgrey; height: 50px; margin-top: 1%">
  <div class="col-lg-4">
    <div class="row" style="margin-left: 22%; margin-top: 2%">
      <div class="col-lg-1">
        <img src="/assets/PIC/store.png" style="width: 25px">
      </div>
      <div class="col-lg-11">
        <span style="font-weight: bold; font-size: 15px; margin-left: 3%">Chính Sách Khách Sỉ</span>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="row" style="margin-left: 22%; margin-top: 2%">
      <div class="col-lg-1">
        <img src="/assets/PIC/delivery.png" style="height: 25px">
      </div>
      <div class="col-lg-11">
        <span style="font-weight: bold; font-size: 15px; margin-left: 3%;">Thời gian giao hàng</span>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="row" style="margin-left: 22%; margin-top: 2%">
      <div class="col-lg-1">
        <img src="/assets/PIC/return-box.png" style="height: 25px">
      </div>
      <div class="col-lg-11">
        <span style="font-weight: bold; font-size: 15px; margin-left: 3%">Chính Sách đổi trảg</span>
      </div>
    </div>
  </div>
</div>
