<div class="container-fluid">
  <div class="row" id="header">
    <div class="col-2" style="border: black">
      <img src="/assets/PIC/lux-coffee-logo-cropt.png"
           style="height: 60px; padding-top: 5px; padding-left: 10px">
    </div>
    <div class="col-8" style="padding-top: 13px">
      <div class="row">
        <div class="col-3">
          <div class="dropdown" style="padding-left: 75px">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-bs-toggle="dropdown" aria-expanded="false"
               style="font-weight: bolder; background-color: coral; color: white">
              Danh Mục
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
        <div class="col-9">
          <form class="row">
            <div class="col-10" style="padding-left: 0px">
              <input type="password" class="form-control" id="inputPassword2" placeholder="Tìm kiếm sản phẩm">
            </div>
            <div class="col-2">
              <button type="submit" class="btn" style="background-color: coral; color: white">Tìm</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-2 d-flex  " style="padding-top: 13px; padding-left: 10px">
      <div class="row" style="padding-left: 0px">
        <div class="col-4">
          <a routerLink="/home/cart">
            <img src="/assets/PIC/shopping-cart.png" style="height: 25px"></a>
        </div>
        <div class="col-4" *ngIf="isLogin== '' ">
          <a routerLink="/login">
            <img src="/assets/PIC/user.png" style="height: 25px">
          </a>
        </div>
        <div class="col-4" *ngIf="isLogin == 'login'">
          <a (click)="logOut()" >
            <img src="/assets/PIC/logout.png" style="height: 25px">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
  <ul class="nav" style="padding-top: 10px">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/home/list">Trang Chủ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/book/list">Sản Phẩm</a>
    </li>
    <li class="nav-item" *ngIf="isEmployee || isAdmin">
      <a class="nav-link" routerLink="/customer/list">Khách hàng</a>
    </li>
    <li class="nav-item" *ngIf="isAdmin">
    <a class="nav-link disabled" routerLink="/order/list" tabindex="-1" aria-disabled="true">Quản Lý Đơn Hàng</a>
    </li>
  </ul>
  </div>
</div>
